/* font-family: 'Delicious Handrawn', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Pacifico', cursive; */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

/* Utilizo GRID para que se ajuste al tamaño de la ventana*/
header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    background-image: url('../img/header.jpg');
    background-size: 100% 200px;
    background-repeat: no-repeat;
    height: 200px;
    position: sticky;
    top:0;
}


.header_textos h1{
    font-weight: 500;
    font-size: 48px;
    color: rgba(234, 23, 185, 0.9);
    margin-right: 80px;
}

.header_textos p{
    color: rgba(234, 23, 185, 0.9);
    margin-top: -20px;
    margin-left: 35px;
    margin-right: 50px;
}

.header_textos{
    position: relative;
    font-family: 'Pacifico', cursive;
    text-align: right;
}

nav{
    position: sticky;
    top: 200px; 
}


nav ul {
    background-color:rgba(219, 141, 201, 0.9) ;
    text-align: right;
    padding: 5px 3px 5px 3px;
}

nav ul li a{
    margin: 25px 10px;
    
}
nav ul li a:hover{
    background-color:rgba(212, 33, 170, 0.9) ;
    padding: 10px;
    
}
/* Box modeling*/
nav ul li{
    display: inline-block;
    margin: 5px 35px;
    
}

.main_index{
    display: flex;
    top: 160px;

}

.articulo_derecha p{
    padding: 25px;
    margin: 25px;
    text-align: justify;
    font-size: 25px;
}

.articulo_izquierda iframe, .articulo_izquierda img {
    width: 750px;
    height: 450px;
    padding: 20px 35px;
    margin: 20px 35px;

}

footer{
    height: 70px;
    border: 2px solid rgba(240, 105, 168, 0.6);
}


 /* Flexbox*/
footer ul{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
}

footer img{
    margin: 15px 125px;
    width: 30px;
    height: 30px;
}

/* Organizamos las imagenes con flexbox*/
.naturaleza{
    display: flex;
    flex-wrap: wrap;
}


.naturaleza img{
    width: 200px;
    height: 200px;
    border: 1px solid black; /*Utilizo esto para maquetear*/
    margin: 15px;
}

.naturaleza div{
    margin: 5px;
    padding: 5px;
}

.naturaleza div p{
    width: 200px;
    height: 100px;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

/* Organizando el main de actividades.html con flexbox*/
.main_actividades, .section_actividades article{
    display: flex;
    margin: 15px;
}


.section_actividades article img, .section_actividades article .maps{
    width: 300px;
    height: 300px;
    margin: 15px;
}

main section p {
    margin: 15px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}


/* Maqueteando el contenido de Gastronomia con GRID*/
.gastronomia{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 30px;
    justify-items: center;
}
.gastronomia img{
    width: 400px;
    height: 400px;
    margin: 50px;
    padding: 25px;
}

.gastronomia img:hover{
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
}

.contacto_seccion1 h1{
    text-align: center;
    color: rgba(234, 23, 185, 0.9);
    font-family: 'Josefin Sans', sans-serif;
}

.contacto_seccion2{
    position: relative;
    left: 400px;
    width: 500px;
    height: 600px;
    border: 1px solid black;
}

.caja1_contacto, .caja2_contacto{
    width: 350px;
    height: 250px;
    background-color: rgba(223, 172, 211, 0.9);
    border: 1px solid black; /*hecho solo para maquetear*/
}


@media(max-width:990px){
    nav ul {
        text-align: left;
    }
    nav ul li {
        display: block;
        position: relative;
    }

    .main_index{
        display: flex;
        flex-direction: column;
    }

    .header_textos{
        position: relative;
        text-align: center;
    }

    .gastronomia{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .gastronomia img{
        width: 150px;
        height: 150px;
        margin: 10px;
        padding: 10px;
    }


    footer {
        display: none;
    }
}